mixin TitleHeader({ title, subtitle,desc, onlytitle, classModify })
    .Title-component.wow.animate__animated.animate__fadeInUp(class=`${classModify ? classModify : ''}`)
        if onlytitle
            h3.TitleHeader
                span.TitleHeader-content=title
        else
            h2.TitleHeader.flex.items-center.justify-center
                img(src="assets/icons/title.svg" class="mr-5")
                span.TitleHeader-content=title
                strong=subtitle
        if desc
                p.Description=desc